@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
@import "tailwindcss";



@theme {
  --color-primary: #0E1B3A;
  --color-accent: #D4A017;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply bg-slate-50 text-slate-700 font-sans antialiased overflow-x-hidden;
  }
}


